@import '../helpers/variables';
@import '../theme/font';

.header__main{
    background-image: url("../../img/hero.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    .header-nav{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.4s;
        z-index: 4;
    }
    .scroll{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        padding-bottom: 25px;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        background-color: $colorWhite;
        box-shadow: 0px 1px 3px 1px $colorBlack;

    }

    .logo{
        padding-top: 20px;
        padding-left: 25px;
    }
    .login_button{
        padding-top: 35px;
        padding-right: 25px;

        a{
            font-family: $fontMontserrat;
            padding: 15px 50px;
            background: $colorLightGrey;
            border: 2px solid $colorDarkBlue;
            border-radius: 27.5px;
            font-size: 14px;
            color: $colorBlack;
            letter-spacing: 4.44px;
            text-decoration: none;
            transition: 0.5s;
            font-weight: 600;

            &:hover{
                background: rgb(228, 232, 233);
                color: $colorBlack;
                transition: 0.5s;
            }
        }
    }

    .header-inscrit{
        position: relative;
        top: 250px;
        position: fixed;
        transition: .8s;

        .header-desc{
            padding-left: 110px;
            font-family: $fontMontserrat;
            transition: 0.8s;

            p{
                margin: 0;
                font-size: 39px;
                padding: 4px;
                span{
                    font-weight: bold;
                }
                &:nth-child(2){
                    padding-bottom: 50px;
                }            
            }

            .inscris{
                border: 2px solid $colorBlue;
                padding: 12px 29px;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
                color: $colorWhite;
                background:$colorBlue; 
                border-radius: 27.5px;		
                letter-spacing: 4.44px;	
                transition: 0.5s;
                z-index: 2;

                &:hover{
                    background-color : $bgBlue;
                    border: 2px solid $bgBlue;
                }
            }

            
        }
    }

    .header-down{
        position: relative;
        top: 680px;
        .social{
            float: left;

            ul{
                list-style: none;
                padding: 0;
                padding-left: 40px;
                position: absolute;

                li{
                    display: inline-block;
                    padding-left: 30px;

                    a{
                        border: 2px solid #fff;
                        border-radius: 50%;
                        transition: 0.4s;
                        position: relative;
                        transition: .4s ease-in-out;
                        z-index: 1;

                        &:hover{
                            color: #fff;
                            border: 2px solid $colorBlue;
                        }

                        &::before{
                            content: " ";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: $colorBlue;
                            border-radius: 50%;
                            transform: scale(0);
                            transition: .4s ease-in-out;
                            z-index: -1;
                        }
                        
                        &:hover::before{
                            transform: scale(1);
                        }
                    }

                    .facebook{
                        padding: 12px 16px;
                    }
                    .linkedin{
                        padding: 12px 14px;
                    }
                    .twitter{
                        padding: 12px 13px;

                    }
                }
            }
        }
        .btn-selector{
            float: right;
            padding-right: 50px !important;
            margin: 0;
            padding: 0;

                li {
                    list-style: none;
                    position: relative;

                .active{
                    color: $colorWhite;
                    font-family: $fontMontserrat;
                    font-weight: bold;
                    border: 1px solid $colorWhite;
                    border-radius: 27.5px;
                    padding: 12px 25px;
                    text-decoration: none;

                    span{
                        padding-left: 15px;
                    }
                }
            }
            .sousMenu{
                display: none;
            }
            
        }
    }
}
