@import '../helpers/variables';
@import '../theme/font';


.projects{
    background-color: $colorWhite;
    position: relative;
    z-index: 1;
}

.project-outils{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;

    .outils{
        .texte-outil{	
            color: $colorBlack;	
            padding-top: 40px;
            font-family: $fontMontserrat;	
            font-size: 32px;	
            font-weight: bold;
            margin: 0;
        }
    }

    .lien-info{
        color: $colorGreenSea;
        letter-spacing: 2px;
        font-family: $fontMontserrat;
        font-weight: bold;
        text-decoration: none;
        font-size: 15px;
    }
    .text-outil-down{
        margin-top: 30px;
        color: $colorBlack;	
        font-family: $fontMontserrat;
        font-size: 18px;
    }

    .projetsprint{
        label{
            font-size: 38px;
            color: $colorWhite;
            border-radius: 50%;
            border: 2px solid $colorGreenSea;
            background-color: $colorGreenSea;
            float: left;
            padding: 10px 23px;
        }

        p{
            margin: 0;
            padding-left: 120px;
            font-size: 18px;
            width: 78%;
        }        
        .position{
            color: $colorBlack;
            font-family: '$fontPoppins:';
            font-size: 29px;
            font-weight: bold;
            line-height: 60px;
            padding-bottom: 15px;
        }
        .sprint{
            padding-top: 39px;
        }
        .taches{
            padding-top: 39px;
            padding-bottom: 120px;
        }
    }
}