@import '../helpers/variables';
@import '../theme/font';


// sidebar
.group-sidebar{
    width: 17%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $colorEmeraud;
    border-right: 2px solid $colorWhiteNav;

    .dashboard-logo{
        background-color: $colorDarkBlue;
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid $colorWhiteNav;
        text-align: center;
  
        img{
            width: 80%;
            margin-left: 40px;
            @media only screen and (max-width :1340px){
                margin-left: 0px;
            }
        }
    }
    .side-nav{
        margin-top: 35px;

        a{
            text-decoration: none;
            color: $colorBlack;
            
            .icon-holder{
                font-size: 20px;
                margin-right: 30px;
                letter-spacing: 2px;

                @media only screen and (max-width :1170px){
                    font-size: 30px;
                    margin: 0px;
                }
            }
            
            .title{
                @media only screen and (max-width :1170px){
                    display: none;
                }
            }
        }
    }

    .side-items{
        padding: 20px 0 20px 15px;
        list-style-type: none;
        display: block;
        color: $colorBlack;
        font-size: 16px;
        font-family: $fontMontserrat;
        font-weight: 700;
        @media only screen and (max-width :1170px){
            text-align: center;
            padding-left: 0px;
        }

        &:hover{
            background-color: #243342;
            cursor: pointer;

            &:hover .icon-holder{
                color: $colorEmeraud;
            }

            &:hover .title{
                color: $colorWhite;
            }
        }
    }
}

//navbar
.header{
    position: fixed;
    top: 0;
    left: 17%;
    right: 0;
    height: 90px;
    background-color: $colorWhite;
    border-bottom: 2px solid $colorWhiteNav;
    z-index: 2;

    .header-connect{
        position: relative;

        li{
            list-style: none;
        }

        .header-user{
            position: absolute;
            left: 81%;
            @media only screen and (max-width :1170px){
                left: 75%;
                @media only screen and (max-width :842px){
                    left: 70%;
                }
            }
            a{text-decoration: none;}
            .menu{
                display: none;
                font-size: 25px;
                color: $colorBlack;
                line-height: 89px;
                margin-left: 100px;
                
                @media only screen and (max-width :870px){
                    display: block;
                    @media only screen and (max-width :620px){
                         margin-left: 90px;     
                    }
                }
            }

            .setting{
                &:focus + ul{
                    display: block;
                    transition: 0.4s;
                }
            }
            .title{
                color: $colorBlack;
                font-size: 16px;
                font-family: $fontMontserrat;
                font-weight: 600;
                margin-left: 15px;
                line-height: 89px;
                
                @media only screen and (max-width :1170px){
                    font-size: 15px; 
                    @media only screen and (max-width :870px){
                        display: none;
                    }
                }
            }

            ul{
                margin: 4px 0px 4px 20px;
                background-color: $colorEmeraud;
                border-radius: 5px;
                padding-top: 12px;
                transition: all 0.8s all;
                position: relative;
                z-index: 2;
                display: none;
                transition: 0.4s;

                @media only screen and (max-width :870px){
                    margin: 4px 0 4px 0px; 
                    @media only screen and (max-width :620px){
                        margin: 4px 0 4px -30px;  
                    } 
                }
                li:nth-child(1){
                    margin-bottom: 20px;
                }

                li:nth-child(2){
                    padding: 15px 25px;
                    border-top: 1px solid $colorWhiteNav;
                    border-radius: 2px;
                    @media only screen and (max-width :1253px){
                        padding: 15px 10px;
                        @media only screen and (max-width :1170px){
                            padding: 15px 10px;
                        }
                    }
                }
            }

            .image-user{
                margin: 23px 0;
                float: left;
                
                img{
                    border-radius: 50%;
                     @media only screen and (max-width :870px){
                        display: none;
                    }
                }
            }
            li{
                padding: 10px 25px;
                display: block;
                position: relative;
                left: 0px;
                @media only screen and (max-width :1253px){
                    padding: 10px 10px;
                    @media only screen and (max-width :1170px){
                        padding: 10px 10px;
                    }
                }

                a{
                    text-decoration: none;
                    color: $colorBlack;
                    font-size: 15px;
                    font-family: $fontMontserrat;
                    font-weight: 600;
                    transition: all 0.4s ease;
                    
                    &:hover {
                        color: $colorWhite;
                        transition: all 0.4s;
                    }
                }

                .icon-connect{
                    margin-right: 10px;
                }
            }
        }
    }
} 

//Body
.main{
    position: relative;
    top: 90px;
    left: 17%;
    background-color: $colorGreyBody;
    width: 83%;
    z-index: 1;
}