@import '../helpers/variables';
@import '../theme/font';


.relative{
  width: 80%;
  margin: 0 auto;
  padding-top: 4em;

  .close-div{
    position: relative;
    width: 20%;
    bottom: 15px;
    left: 85%;
  }
  .close{
    position: absolute;
    right: 7%;
    top: 2%;
    color: $colorBlack;
    font-size: 35px;
    font-family: $fontMontserrat;
    font-weight: bold;
    transition: 0.4s;

    &:hover{
      transition: 0.4s;
    }
      &:hover,
      &:focus {
        cursor: pointer;
      }
  }
}

.inscription-group{
    padding: 0px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-shadow: 0px 2px 15px 2px $colorBlack ;

    .img-inscris{
      background-image: url("../../img/pub.jpg");
      background-size: cover;
      background-position: center center;
      color: $colorWhite;
    }

    .typedjs{
      width: 92%;
      margin: 0 auto;
      position: relative;
      padding-top: 25%;
      left: 0;
      p{
        font-size: 26px;
        padding: 10px;
        font-family: $fontMontserrat;
        font-weight: 600;
        margin: 0;
        color: $colorBlue;
      }
    }

    .container-inscris{
      width: 80%;
      margin: 0 auto;
      .container-title{
        padding: 25px 0;
        text-align: center;
        span{
          font-size: 26px;
          font-family: $fontMontserrat;
          font-weight: bold;
          color: $colorDarkBlue;
        }
      }

      .body-inscris{
        .form-group{
          width: 87%;
          height: 8vh;
          margin: 0 auto;
          position: relative;
          overflow: hidden;

          input{
            width: 100%;
            height: 100%;
            padding-top: 20px;
            color: $colorBlack;
            border: none;
            outline: none;
            font-size: 14px;
            background-color: #F6F7FB;
            font-family: $fontPoppins;

            &:focus + .label-name .content-name, 
            &:valid + .label-name .content-name{
              transform: translateY(-180%);
              font-size: 13px;
              color: $colorBlue;
            }
        
            &:focus + .label-name::after, 
            &:valid + .label-name::after{
              transform: translateY(0%);
            }        
          }

          label{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 2px solid $colorBlack;
            color: $colorBlack;

            &::after{
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              height: 100%;
              width: 100%;
              border-bottom: 3px solid $colorBlue;
              transform: translateX(-100%);
              transition: all 0.3s ease;
            }
            .content-name{
              position: absolute;
              bottom: 5px;
              left: 0px;
              color: $colorBlack;
              font-family: $fontMontserrat;
              font-size: 16px;
              font-weight: 700;
              transition: all 0.3s ease;
            }
          }
        }

        //Select
        .form-select{
          width: 86%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
          grid-column-gap: 80px;
          grid-row-gap: 10px;
          padding-top: 45px;

            .box-select{
              position: relative;
              display: flex;
              width: 100%;
              height: 3em;
              line-height: 3px;
              overflow: hidden;
              border: 1px solid $colorBlack;
              border-radius: 3px;

                &::after{
                  font-family: "Font Awesome 5 Free";
                  content: '\f078';
                  position: absolute;
                  font-size: 18px;
                  top: 0;
                  right: 0;
                  font-weight: 900;
                  padding: 20px 0.5em;
                  cursor: pointer;
                  pointer-events: none;
                  color: $colorRed;
                  transition: all .40s ease;
                }
                select{
                  appearance: none;
                  outline: none;
                  border: none;
                  flex: 1;
                  width: 100%;
                  cursor: pointer;
                  padding: 0 .5rem;
                  font-size: 13px;
                  font-family: $fontMontserrat;
                  font-weight: 600;
                  color: $colorBlack;
                  background-color: #F6F7FB;

                  &::-ms-expand{
                    display: none;
                  }
            }
            &:hover::after{
              color: $colorDarkBlue;
            }
          }
        }
      }
    }
  
  .submitbtn{   
    padding: 10%;
    width: 95%;
    margin: 0 auto;
    button{
      padding: 15px 50px 15px 28px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
      font-family: $fontMontserrat;
      background-color: $colorEmeraud;
      position: relative;
      left: 77%;
      border: none;
      cursor: pointer;
      transition: all 0.4s ease;

        &:hover{
          color: $colorWhite;
          transition: all 0.4s ease;
          background-color: $colorEmeraudPur;
        }

        &::after{
          content: "\f04e";
          font-family: "Font Awesome 5 Free";
          font-weight: 800;
          font-size: 15px;
          padding: 18px 1.5em;
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(-5%);
          transition: all 0.4s ease;
        }

        &:hover::after{
          color: $colorWhite;
          transform: translateX(18%);
          transition: all 0.4s ease;
        }
    }
  }
}

.animate{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
 }