// color
$colorWhite : #FFFFFF;
$colorGreenSea : #1ABC9C;
$colorEmeraud : #2ECC71;
$colorEmeraudPur : rgb(43, 184, 101);
$colorBlack : #434242;
$colorRed : #E74C3C;
$colorLightGrey : #ECF0F1;
$colorDarkGrey : #95A5A6;;
$colorDarkBlue : #34495E;
$colorBlue : #2091DC;
$colorTwitter : #0077B5;
$colorLinkedin : #1A91DA;
$colorFacebook : #4267B2;
$colorBlueBlack :#34495E;

$bgBlue : rgb(32, 132, 199);


//font
$fontMontserrat : 'Montserrat';
$fontPoppins : 'Poppins';