
$colorWhite : #FFFFFF;
$colorGreenSea : #1ABC9C;
$colorEmeraud : #2ECC71;
$colorBlack : #434242;
$colorRed : #E74C3C;
$colorLightGrey : #ECF0F1;
$colorDarkGrey : #95A5A6;;
$colorDarkBlue : #34495E;
$colorBlue : #2091DC;